
apiVersion: {{apiVersion}}{{apiVersion_serverAddressByClientCIDRs}}{{apiVersion_serverAddressByClientCIDRs_clientCIDR}}

apiVersion: {{apiVersion_serverAddressByClientCIDRs}}{{apiVersion_serverAddressByClientCIDRs_clientCIDR}}{{apiVersion_serverAddressByClientCIDRs_serverAddress}}{{GROUP_apps}}{{GROUP_authentication}}{{GROUP_authorization}}{{GROUP_autoscaling}}{{GROUP_batch}}{{GROUP_certificates}}{{GROUP_coordination}}{{GROUP_discovery}}{{GROUP_events}}{{GROUP_flowcontrol}}{{GROUP_internal}}{{GROUP_networking}}{{GROUP_node}}{{GROUP_policy}}{{GROUP_rbac}}{{GROUP_resource}}{{GROUP_scheduling}}{{GROUP_storage}}{%if GROUP_core%}{%else%}/{%endif%}{{VERSION_v1}}{{VERSION_v2}}{{VERSION_v1beta1}}
